<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title>Страница не найдена</title>
		<link rel="shortcut icon" href="{{ MEDIA_URL }}favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="{{ MEDIA_URL }}js/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="{{ MEDIA_URL }}css/default_error.css">
	</head>
	
	<body>
		<div class="container">
			<h1>Упс! Здесь вряд ли можно что-то найти!</h1>
			<h2>ВАМ СЮДА</h2>
			<a class="brand" href="/" title="DELO70.RU - Вся работа Томска в одном месте">DELO70.RU</a>
		</div>
	</body>
</html>