<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title>Извините, что-то пошло не так</title>
		<link rel="shortcut icon" href="{{ MEDIA_URL }}favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="{{ MEDIA_URL }}js/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="/media/css/default_error.css">
	</head>
	
	<body>
		<div class="container">
			<h1>Извините, что-то пошло не так!</h1>
			<p>Администраторы уже оповещены о проблеме!</p>
			<h2>ВАМ СЮДА</h2>
			<a class="brand" href="/" title="DELO70.RU - Вся работа Томска в одном месте">DELO70.RU</a>
		</div>
	</body>
</html>