{% extends "default.html" %}
{% load pymorphy_tags %}

{% block title %}{{ request.flatpage.get_title|default:"Добавить вакансию" }}{% endblock %}
{% block description %}{{ request.flatpage.get_description|default:"Все резюме, вакансии и инструменты для поиска работы." }}{% endblock %}"
{% block keywords %}{{ request.flatpage.get_keywords|default:"работа, вакансии, работа в томске, поиск вакансий, поиск резюме, резюме, работы, работу, работ, ищу работу" }}{% endblock %}"

{% block extra_media %}{% endblock %}

{% block breadcrumb_item %}
	<li><a href="{% url vacancy slug_city=request.location.slug %}">Вакансии{% if request.location %} в {{ request.location.name|inflect:"пр" }}{% endif %}</a> <span class="divider">/</span></li>
	<li class="active">{{ request.flatpage.get_title|default:"Добавить вакансию" }}</li>
{% endblock %}
{% block h1 %}Добавить вакансию{% endblock %}

{% block content %}
	<div class="row-fluid">
		<form class="form add" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
			{% include "rabota/form_add.html" %}
			<input class="btn btn-success" type="submit" value="Добавить">
		</form>
	</div>
{% endblock %}